<a href="https://colab.research.google.com/github/afshari-maryam/MachineLearning-Math/blob/main/Math_for_ML1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Every group have  to download the Excel files:
2. Each file has three recorded values of water flow recorded using three sensors S1,S2, and S3.

  2.A.Compute the central tendency measures

  2.B. Compute the spread measures

  2.c. What can you say about S1, S2, S3
  
    In terms of Means, Variance, and Standard deviation
    Which one of the sensors is different from the others
    Is it possible to divide a categorical dataset using quartiles
3. Suppose we have list of set of colors
  Colors = [Red, Green, Blue, Blue, Green, Red, Yellow, Orange, Purple, Blue, Green, Red, Blue, Yellow, Orange, Green, Blue, Red, Yellow, Green]

    How can we make Quartiles in such a case?

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
# Read Excel file
df = pd.read_excel('/content/drive/MyDrive/Assignment-Math-for-ML/Group5.xlsx')
print(df)

      S1   S2   S3
0    502  378  314
1    491  369  390
2    472  363  344
3    470  386  355
4    477  389  383
..   ...  ...  ...
127  500  385  314
128  458  378  371
129  488  386  389
130  509  378  306
131  516  347  327

[132 rows x 3 columns]

# 2.A 
**Compute the central tendency measures**

In [ ]:
print("Means:\n",df.mean())

central tendency measures:
 S1    483.424242
S2    375.590909
S3    351.727273
dtype: float64

In [ ]:
print("Medians:\n",df.median())

Medians:
 S1    481.5
S2    378.0
S3    357.5
dtype: float64

In [ ]:
print("Modes:\n",df.mode())

Modes:
     S1     S2     S3
0  465  378.0  371.0
1  492    NaN  379.0
2  509    NaN    NaN

#2.B. 
**Compute the spread measures**

In [ ]:
print("standard deviation :\n",df.std())

the spread measures:
 S1    18.854655
S2    16.555230
S3    30.093770
dtype: float64

 #2.c. 
 What can you say about S1, S2, S3?
  
In terms of Means, Variance, and Standard deviation Which one of the sensors is different from the others ? Is it possible to divide a categorical dataset using quartiles?

In [ ]:
# using quantile() function to
# find the quantiles over the index axis
df.quantile([.1, .25, .5, .75], axis = 0)

          S1      S2      S3
0.10  460.10  356.50  312.00
0.25  466.75  371.75  331.75
0.50  481.50  378.00  357.50
0.75  496.25  385.00  373.25

In [ ]:
# find the product over the index axis
df.quantile(.2, axis = 0)

S1    465.0
S2    370.0
S3    327.0
Name: 0.2, dtype: float64

#3.
Suppose we have list of set of colors Colors = [Red, Green, Blue, Blue, Green, Red, Yellow, Orange, Purple, Blue, Green, Red, Blue, Yellow, Orange, Green, Blue, Red, Yellow, Green]

How can we make Quartiles in such a case?

In [ ]:

Colors = ['Red', 'Green', 'Blue', 'Blue', 'Green', 'Red', 'Yellow', 'Orange',
          'Purple', 'Blue', 'Green', 'Red', 'Blue', 'Yellow', 'Orange',
          'Green', 'Blue', 'Red', 'Yellow', 'Green']
new_color_list =[]

In [ ]:
for i in Colors:
  if i == 'Red':
    new_color_list.append(0)
  elif i == 'Green':
    new_color_list.append(1)
  elif i == 'Blue':
    new_color_list.append(2)
  elif i == 'Yellow':
    new_color_list.append(3)
  elif i == 'Orange':
    new_color_list.append(4)
  elif i == 'Purple':
    new_color_list.append(5)

In [ ]:
new_color_list

[0, 1, 2, 2, 1, 0, 3, 4, 5, 2, 1, 0, 2, 3, 4, 1, 2, 0, 3, 1]

In [ ]:
new_color_array = np.array(new_color_list)

In [ ]:
print(np.mean(new_color_array))

1.85

In [ ]:
print(np.std(new_color_array))

1.4239030865898141

In [ ]:
Map_color_dic = {0:'Red',1:'Green',2:'Blue',3:'Yellow',4:'Orange',5:'Purple'}
print(Map_color_dic[0])

Red

In [ ]:
print("Q0 quantile of arr : ", np.quantile(new_color_array, .0),"means ",Map_color_dic[int(np.quantile(new_color_array, .0))])
print("Q1 quantile of arr : ", np.quantile(new_color_array, .25),"means ",Map_color_dic[int(np.quantile(new_color_array, .25))])
print("Q2 quantile of arr : ", np.quantile(new_color_array, .50),"means ",Map_color_dic[int(np.quantile(new_color_array, .50))])
print("Q3 quantile of arr : ", np.quantile(new_color_array, .75),"means ",Map_color_dic[int(np.quantile(new_color_array, .75))])
print("100th quantile of arr : ", np.quantile(new_color_array, .1),"means ",Map_color_dic[int(np.quantile(new_color_array, .1))])

Q0 quantile of arr :  0.0 means  Red
Q1 quantile of arr :  1.0 means  Green
Q2 quantile of arr :  2.0 means  Blue
Q3 quantile of arr :  3.0 means  Yellow
100th quantile of arr :  0.0 means  Red